<div class="login-container">
  <div class="login-card">
    <h1 class="login-title"><%= t('.title') %></h1>

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "login-form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email, t('activerecord.attributes.user.email'), class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t('.email_placeholder')%>
      </div>

      <div class="actions">
        <%= f.submit t('.submit'), class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="forgot-password-link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
