<%= form_with(model: categoria, class: "content-form") do |form| %>
  <%= render "shared/flash" %>

  <div class="form-group">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit t('helpers.submit.submit', model: Categoria.model_name.human), class: "btn btn-primary" %>
    <%= link_to "Voltar para categorias", categorias_path, class: "btn btn-danger" %>
  </div>
<% end %>
