<p style="color: green"><%= notice %></p>

<%= render @categoria %>

<div>
  <%= link_to "Edit this categoria", edit_categoria_path(@categoria) %> |
  <%= link_to "Back to categoria", categorias_path %>

  <%= button_to "Destroy this categoria", @categoria, method: :delete %>
</div>
