<% content_for :title, t('.title') %>

<main class="content-container">
  <%= render "shared/flash" %>

  <div class="page-header">
    <h1><%= t('.title') %></h1>
    <%= link_to t('usuarios.new.title'), new_usuario_path, class: "btn btn-primary" %>
  </div>

  <table class="content-table">
    <thead>
      <tr>
        <th><%= Usuario.human_attribute_name(:name) %></th>
        <th><%= Usuario.human_attribute_name(:cpf) %></th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @usuarios.each do |usuario| %>
        <%= render "usuario_row", usuario: usuario %>
      <% end %>
    </tbody>
  </table>
</main>
