<div id="<%= dom_id livro %>">
  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= livro.titulo %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= livro.categoria.nome %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= livro.status %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= livro.observacoes %>
  </p>

</div>
