<tr>
  <td><%= livro.titulo %></td>
  <td><%= livro.autor %></td>
  <td><%= livro.categoria.nome %></td>
  <td><%= livro.status.capitalize %></td>
  <td>
    <%= link_to "Mostrar", livro %>
  </td>
</tr>