<% content_for :title, "Livros" %>

<main class="content-container">
  <%= render "shared/flash" %>

  <div class="page-header">
    <h1>Livros</h1>
    <%= link_to t('livros.new.title'), new_livro_path, class: "btn btn-primary" %>
  </div>

  <%= form_with(url: livros_path, method: :get, local: true) do %>
    <%= label_tag :search, "Buscar: " %>
    <%= text_field_tag :search, params[:search], placeholder: "Procurar pelo titulo" %>
  <% end %>

  <table class="content-table">
    <thead>
      <tr>
        <th><%= Livro.human_attribute_name(:titulo) %></th>
        <th><%= Livro.human_attribute_name(:autor) %></th>
        <th><%= Livro.human_attribute_name(:categoria) %></th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @livros.each do |livro| %>
        <%= render "livro_row", livro: livro %>
      <% end %>
    </tbody>
  </table>

  <% if @total_pages.to_i > 1 %>
    <div>
      <% if @page > 1 %>
        <%= link_to "←", url_for(request.params.merge(page: @page - 1))%>
      <% else %>
        <span>←</span>
      <% end %>
      <span>Page <%= @page %> of <%= @total_pages %></span>
      <% if @page < @total_pages %>
        <%= link_to "→", url_for(request.params.merge(page: @page + 1))%>
      <% else %>
        <span>→</span>
      <% end %>
    </div>
  <% end %>
</main>
